body{
    background-color: rgb(94, 4, 4) ;
}
#pdis{
    font-size: xx-large;
    text-align: center;
}
h1.p1{
    color:#f00;
    background-color: rgb(239, 118, 118);
}
h1.p2{
    color: blue;
    background-color: rgb(80, 74, 252);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    border: 2px solid #333;
    padding: 10px;
    align-items: center;
    background-color: black;
}
.grid button{
    background-color: #333;
    height: 100px;
    width: 100px;
    flex-basis: calc(33.33% - 10px);
}
.grid button:hover{
    background-color: #575656;
}
button.player1{
    background-color: #f00;
}
button.player2{
    background-color: blue ;
}
button.player1:hover{
    background-color: #f00;
}
button.player2:hover{
    background-color: blue;
}