.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    border: 2px solid #333;
    padding: 10px;
    align-items: center;
}
.grid button{
    height: 100px;
    width: 100px;
    flex-basis: calc(33.33% - 10px);
}