:root{
    --slate-50: #f8fafc;
    --slate-400: #94a3b8;
    --slate-950: #020617;
    --red-900: #7f1d1d;
    --red-500: #ef4444;
    --blue-900: #1e3a8a;
    --blue-500: #3b82f6;
    --neutral-800: #262626;
    --neutral-50: #fafafa;
    --stone-800: #292524;
    --stone-500: #78716c;
    --stone-50: #fafaf9;
    --gray-400: #9ca3af;
}

body {
    background-color: var(--grey-400);
    margin: 0;
}

.Menu-container{
    position: fixed;
    display: flex;
    flex-flow: column;
    z-index: 1;
}

.MenuBar{
    position: fixed;
    background-color: var(--neutral-800);
    padding-left: 2vw;
    gap: 2vw;
    height: 9vh;
    top: 0;
    width: 100vw;
    display: flex;
    flex-flow: row;
    align-items: center;
}

#MenuIcon{
    background-color: var(--slate-400);
    border-radius: 5px;
    padding: 1vh 1vh;
    height: 5vh;
}

.Title{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1vw;
}

.Title span{
    color: var(--slate-50);
    font-size: 100%;
    font-weight: 600;
}

#LogoIcon{
    background-color: var(--slate-50);
    border-radius: 20%;
    height:5vh;
}

.DropdownItems{
    position: fixed;
    display: flex;
    top:9vh;
    flex-flow: row;
    height: 91vh;
    width: 100vw;
}
.MenuBtns{
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    height: 81vh; 
    width: 40vw;
    padding: 5vh 5vw;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.MenuBtns div{
    background-color: var(--slate-400);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    border-radius: 2vh;
}
.MenuBtns div img{
    height: 10vh;
}
.MenuBtns div span{
    color: var(--slate-50);
    font-size: 200%;
    font-weight: 600;
}

.Settings-page{
    position: fixed;
    background-color: var(--neutral-800);
    color: var(--slate-50);
    left: 50vw;
    height: 81vh;
    width: 40%;
    padding: 5vh 5vw;
    flex-flow: column;
    justify-content: center;
    gap: 1%;
}

.Htp-page{
    position: fixed;
    background-color: var(--neutral-800);
    color: var(--slate-50);
    left: 50vw;
    height: 81vh;
    width: 40vw;
    padding: 5vh 5vw;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    gap: 1%;
}

.Stage1 {
    display: flex;
    position: absolute;
    margin-top: 9vh;
    height: 91vh; 
    width: 100vw;
    justify-content: center;
    flex-flow: column;
    z-index: 0;
}

.TxtDis {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 10vh;
}

#SelecBtns{
    display: flex;
    flex-shrink: 2;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.StartBtn {
    display: flex;
    height: 10vh;
    width: 20vw;
    background-color: var(--slate-950);
    color: var(--slate-50);
    font-size: 250%;
    font-weight: 600;
    border: none;
    padding: 1% 2%;
    border-radius: 13px;
    align-items: center;
    justify-content: center;
}

.ModeSelec{
    flex-flow: column;
    gap: 5px;
    flex-grow: 2;
    flex-shrink: 2;
    justify-content: center;
    align-items: center;
}

.ModeSelec div{
    height: 100%;
    width: 70%;
    display: flex;
    color: var(--slate-950);
    border-color: var(--slate-50);
    background-color: var(--slate-400);
    border-radius: 5px;
    font-size: 250%;
    align-items: center;
    justify-content: center;
    gap: 1%;
    padding: 1vh 1vw;
}
.ModeSelec div img{
    height: 9vh;
}

.Stage2 {
    margin-top: 9vh;
    height: 91vh; 
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-flow: column;
    flex-wrap: wrap;
    position: fixed;
    z-index: 0;
}

.StatDis {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 2px;
    justify-content: space-around;
    width: 100vw;
}
.P1 {
    color: var(--red-500);
    background-color: var(--neutral-50);
    border: 0px;
    border-radius: 6px;
    padding: 2%;
}

.P2 {
    color: var(--blue-500);
    background-color: var(--neutral-50);
    border: 0px;
    border-radius: 6px;
    padding: 2%;
}


.Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    border: 0px;
    border-radius: 3px;
    padding: 10px;
    align-items: center;
    background-color: black;
}

.Grid button {
    background-color: #333;
    border-radius: 5px;
    border: 0px;
    height: 100px;
    width: 100px;
    flex-basis: calc(33.33% - 10px);
}

.Grid button:hover {
    background-color: #575656;
}

button.Player1 {
    background-color: var(--red-500);
    font-weight: 600;
    color: var(--red-900);
    font-size: 90px;
}

button.Player2 {
    background-color: var(--blue-500);
    font-weight: 600;
    color: rgb(8, 8, 141);
    font-size: 90px;
}

button.Player1:hover {
    background-color: var(--red-500);
}

button.Player2:hover {
    background-color: var(--blue-500);
}

.Countdown{
    color: var(--slate-50);
}

.Stage3 {
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    flex-wrap: wrap;
    height: 100vh; 
    width: 100vw;
    z-index: 2;
}

.EndScr{
    height: 20vh;
    width: 40vw;
    display: flex;
    background-color:var(--stone-800);
    border-radius: 20px;
    padding: 5vh 5vw;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.EndTxt{
    color: var(--stone-50);
}

.EndBtns{
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.EndBtns button{
    background-color: var(--stone-500);
    color: var(--stone-50);
    border:none;
    border-radius: 10%;
    font-weight: 600;
    padding: 1vh 2vw;
}

@media (max-width: 450px) {
   .MenuBtns{
       width: 90vw;
   }
   .Settings-page{
        left:0;
        width: 90vw;
   }
   .Htp-page{
        left:0;
        width: 90vw;
    }
}
